<a href="#" class="scrollup">Scroll</a>
<div class="page-header">
    <h1>Избранное</h1>
</div>
<div class="recipe-list" infinite-scroll="nextPage()" infinite-scroll-distance="0">
    <div ng-repeat="recipe in recipes" class="item clearfix">
        <div class="image"><img src="http://localhost/recipes/web/uploads/documents/{{ recipe.path }}" class="img-circle img-polaroid"></div>
        <div class="category"><a href="#/category/{{ recipe.category.id }}">{{ recipe.category.name }}</a></div>
        <div class="name"><a href="#/recipe/{{ recipe.id }}">{{ recipe.name }}</a></div>
        <div class="creator" creator-name='{{recipe.creator.id}}'>Автор: <a href=''>{{recipe.creator.firstname}} {{recipe.creator.lastname}}</a></div>
        <div class="ingredients" ingredients-decline='{{ recipe.recipe_ingredient.length }}'></div>
        <div class='favorite'><a href='' ng-click="addToFavorite(recipe.id)" ></a></div>
        <hr>
    </div>
</div>