<div class="page-header">
    <h1><img class="img-circle" ng-src="{{user.avatar}}"> {{user.firstname}} {{user.lastname}} - профиль</h1>
</div>
<h2 style="margin: 40px 0;">Добавленные рецепты:</h2>
<div class="recipe-list" infinite-scroll="nextPage()" infinite-scroll-distance="0">
    <div ng-repeat="recipe in recipes" class="item clearfix">
        <div class="image"><img ng-src="http://localhost/recipes/web/uploads/documents/{{ recipe.path }}" class="img-circle img-polaroid"></div>
        <div class="category"><a ng-click="chooseCategory(recipe.category.id)">{{ recipe.category.name }}</a></div>
        <div class="name"><a ng-href="#/recipe/{{ recipe.id }}">{{ recipe.name }}</a></div>
        <div class="creator" creator-name='{{recipe.creator.id}}'>Автор: <a ng-href=''>{{recipe.creator.firstname}} {{recipe.creator.lastname}}</a></div>
        <div class="ingredients" ingredients-decline='{{ recipe.recipeIngredient.length }}'></div>
        <div class='favorite'><a ng-href='' ng-click="addToFavorite($index)" ng-class="{ enable: recipe.favorite == true }"></a></div>
        <hr>
    </div>
</div>